[submodule "clients"]
	path = clients
	url = git@github.com:nossas/bonde-clients.git
[submodule "public"]
	path = public
	url = git@github.com:nossas/bonde-public.git
[submodule "router"]
	path = router
	url = git@github.com:nossas/bonde-router.git
[submodule "apis"]
	path = apis
	url = git@github.com:nossas/bonde-apis.git
[submodule "hasura"]
	path = hasura
	url = git@github.com:nossas/bonde-hasura.git
